<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.micro.record.commons.mapper.baseMapper.CityAnswerAlarmMapper">
  <resultMap id="BaseResultMap" type="com.ht.micro.record.commons.domain.CityAnswerAlarm">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="JJBH" jdbcType="VARCHAR" property="jjbh" />
    <result column="BCJJNR" jdbcType="VARCHAR" property="bcjjnr" />
    <result column="BJCJYJ" jdbcType="VARCHAR" property="bjcjyj" />
    <result column="BJDH" jdbcType="VARCHAR" property="bjdh" />
    <result column="BJDHDZ" jdbcType="VARCHAR" property="bjdhdz" />
    <result column="BJDHHM" jdbcType="VARCHAR" property="bjdhhm" />
    <result column="BJDHSJ" jdbcType="TIMESTAMP" property="bjdhsj" />
    <result column="BJLX" jdbcType="CHAR" property="bjlx" />
    <result column="BJNR" jdbcType="VARCHAR" property="bjnr" />
    <result column="BJR" jdbcType="VARCHAR" property="bjr" />
    <result column="BJRXB" jdbcType="CHAR" property="bjrxb" />
    <result column="BJTDYY" jdbcType="VARCHAR" property="bjtdyy" />
    <result column="BJXS" jdbcType="CHAR" property="bjxs" />
    <result column="BLQK" jdbcType="VARCHAR" property="blqk" />
    <result column="BZWQK" jdbcType="VARCHAR" property="bzwqk" />
    <result column="CDCLBM" jdbcType="VARCHAR" property="cdclbm" />
    <result column="CITGC_SOURCE" jdbcType="VARCHAR" property="citgcSource" />
    <result column="CITGC_TIME" jdbcType="TIMESTAMP" property="citgcTime" />
    <result column="CJBS" jdbcType="CHAR" property="cjbs" />
    <result column="CLLX" jdbcType="CHAR" property="cllx" />
    <result column="CLQX" jdbcType="VARCHAR" property="clqx" />
    <result column="DJDW" jdbcType="CHAR" property="djdw" />
    <result column="DJDWMC" jdbcType="VARCHAR" property="djdwmc" />
    <result column="DJR" jdbcType="CHAR" property="djr" />
    <result column="DJRXM" jdbcType="VARCHAR" property="djrxm" />
    <result column="DJSJ" jdbcType="TIMESTAMP" property="djsj" />
    <result column="EJDDSJ" jdbcType="TIMESTAMP" property="ejddsj" />
    <result column="EJJSDW" jdbcType="CHAR" property="ejjsdw" />
    <result column="EJJSDWMC" jdbcType="VARCHAR" property="ejjsdwmc" />
    <result column="EJJSR" jdbcType="CHAR" property="ejjsr" />
    <result column="EJJSRXM" jdbcType="VARCHAR" property="ejjsrxm" />
    <result column="EJJSSJ" jdbcType="TIMESTAMP" property="ejjssj" />
    <result column="EJXFSJ" jdbcType="TIMESTAMP" property="ejxfsj" />
    <result column="FKYQ" jdbcType="VARCHAR" property="fkyq" />
    <result column="GIS_X" jdbcType="VARCHAR" property="gisX" />
    <result column="GIS_Y" jdbcType="VARCHAR" property="gisY" />
    <result column="GLJJDBH" jdbcType="VARCHAR" property="gljjdbh" />
    <result column="HZDJ" jdbcType="CHAR" property="hzdj" />
    <result column="JJDBH" jdbcType="VARCHAR" property="jjdbh" />
    <result column="JJDW" jdbcType="CHAR" property="jjdw" />
    <result column="JJDWMC" jdbcType="VARCHAR" property="jjdwmc" />
    <result column="JJDXNR" jdbcType="VARCHAR" property="jjdxnr" />
    <result column="JJDXSJ" jdbcType="TIMESTAMP" property="jjdxsj" />
    <result column="JJGXDW" jdbcType="VARCHAR" property="jjgxdw" />
    <result column="JJLX" jdbcType="CHAR" property="jjlx" />
    <result column="JJLYH" jdbcType="VARCHAR" property="jjlyh" />
    <result column="JJR" jdbcType="CHAR" property="jjr" />
    <result column="JJRQSJ" jdbcType="TIMESTAMP" property="jjrqsj" />
    <result column="JJRXM" jdbcType="VARCHAR" property="jjrxm" />
    <result column="JJXZQH" jdbcType="CHAR" property="jjxzqh" />
    <result column="JJYXM" jdbcType="VARCHAR" property="jjyxm" />
    <result column="JZJG" jdbcType="CHAR" property="jzjg" />
    <result column="JZLB" jdbcType="CHAR" property="jzlb" />
    <result column="LDGBH" jdbcType="VARCHAR" property="ldgbh" />
    <result column="LHLBDM" jdbcType="CHAR" property="lhlbdm" />
    <result column="LXDH" jdbcType="VARCHAR" property="lxdh" />
    <result column="PJLYH" jdbcType="VARCHAR" property="pjlyh" />
    <result column="PJSJ" jdbcType="TIMESTAMP" property="pjsj" />
    <result column="PJYXM" jdbcType="VARCHAR" property="pjyxm" />
    <result column="QHCS" jdbcType="CHAR" property="qhcs" />
    <result column="RSWXZ" jdbcType="VARCHAR" property="rswxz" />
    <result column="SBNR" jdbcType="VARCHAR" property="sbnr" />
    <result column="SBSJ" jdbcType="TIMESTAMP" property="sbsj" />
    <result column="SFBDDH" jdbcType="VARCHAR" property="sfbddh" />
    <result column="SFBW" jdbcType="VARCHAR" property="sfbw" />
    <result column="SFDD" jdbcType="VARCHAR" property="sfdd" />
    <result column="SFYFDX" jdbcType="CHAR" property="sfyfdx" />
    <result column="SFZDDW" jdbcType="CHAR" property="sfzddw" />
    <result column="SFZXXS" jdbcType="CHAR" property="sfzxxs" />
    <result column="SJCPH" jdbcType="VARCHAR" property="sjcph" />
    <result column="SJDDSJ" jdbcType="TIMESTAMP" property="sjddsj" />
    <result column="SJJSD" jdbcType="CHAR" property="sjjsd" />
    <result column="SJJSDWMC" jdbcType="VARCHAR" property="sjjsdwmc" />
    <result column="SJJSR" jdbcType="CHAR" property="sjjsr" />
    <result column="SJJSRXM" jdbcType="VARCHAR" property="sjjsrxm" />
    <result column="SJJSSJ" jdbcType="TIMESTAMP" property="sjjssj" />
    <result column="STRKSJ" jdbcType="VARCHAR" property="strksj" />
    <result column="STXGSJ" jdbcType="VARCHAR" property="stxgsj" />
    <result column="SYQX" jdbcType="VARCHAR" property="syqx" />
    <result column="THSC" jdbcType="VARCHAR" property="thsc" />
    <result column="XGDW" jdbcType="CHAR" property="xgdw" />
    <result column="XGDWMC" jdbcType="VARCHAR" property="xgdwmc" />
    <result column="XGR" jdbcType="CHAR" property="xgr" />
    <result column="XGRXM" jdbcType="VARCHAR" property="xgrxm" />
    <result column="XGSJ" jdbcType="TIMESTAMP" property="xgsj" />
    <result column="YFTY" jdbcType="CHAR" property="yfty" />
    <result column="YFWXWZ" jdbcType="CHAR" property="yfwxwz" />
    <result column="YJDW" jdbcType="VARCHAR" property="yjdw" />
    <result column="YJR" jdbcType="VARCHAR" property="yjr" />
    <result column="YJSJ" jdbcType="TIMESTAMP" property="yjsj" />
    <result column="YJSM" jdbcType="VARCHAR" property="yjsm" />
    <result column="YWBKRY" jdbcType="CHAR" property="ywbkry" />
    <result column="YWBZXL" jdbcType="CHAR" property="ywbzxl" />
    <result column="ZDDWBM" jdbcType="VARCHAR" property="zddwbm" />
    <result column="ZDYJDW" jdbcType="VARCHAR" property="zdyjdw" />
    <result column="ZDYJR" jdbcType="VARCHAR" property="zdyjr" />
    <result column="ZDYJSJ" jdbcType="VARCHAR" property="zdyjsj" />
    <result column="ZDYJSM" jdbcType="VARCHAR" property="zdyjsm" />
    <result column="PJDBH" jdbcType="VARCHAR" property="pjdbh" />
    <result column="CJSJ" jdbcType="DATE" property="cjsj" />
  </resultMap>
</mapper>