<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.micro.record.commons.mapper.baseMapper.FwzxDepartMapper">
  <resultMap id="BaseResultMap" type="com.ht.micro.record.commons.domain.FwzxDepart">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="dbid" jdbcType="INTEGER" property="dbid" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="cate" jdbcType="VARCHAR" property="cate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="deep" jdbcType="INTEGER" property="deep" />
    <result column="deptid" jdbcType="VARCHAR" property="deptid" />
    <result column="isshow" jdbcType="CHAR" property="isshow" />
    <result column="isshowuser" jdbcType="CHAR" property="isshowuser" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="ordernum" jdbcType="INTEGER" property="ordernum" />
    <result column="parentid" jdbcType="VARCHAR" property="parentid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="seqcode" jdbcType="VARCHAR" property="seqcode" />
    <result column="seqorder" jdbcType="VARCHAR" property="seqorder" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
</mapper>