<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.micro.record.commons.mapper.baseMapper.PCaseInfoMapper">
  <resultMap id="BaseResultMap" type="com.ht.micro.record.commons.domain.PCaseInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="AJBH" jdbcType="VARCHAR" property="ajbh" />
    <result column="AJDZMC" jdbcType="VARCHAR" property="ajdzmc" />
    <result column="AJFAB" jdbcType="CHAR" property="ajfab" />
    <result column="AJJJETS" jdbcType="DECIMAL" property="ajjjets" />
    <result column="AJJJFNS" jdbcType="DECIMAL" property="ajjjfns" />
    <result column="AJJJRZS" jdbcType="DECIMAL" property="ajjjrzs" />
    <result column="AJJLX" jdbcType="VARCHAR" property="ajjlx" />
    <result column="AJLB" jdbcType="CHAR" property="ajlb" />
    <result column="AJLBMC" jdbcType="VARCHAR" property="ajlbmc" />
    <result column="AJLY" jdbcType="VARCHAR" property="ajly" />
    <result column="AJMC" jdbcType="VARCHAR" property="ajmc" />
    <result column="AJMJ" jdbcType="CHAR" property="ajmj" />
    <result column="AJMLPH" jdbcType="VARCHAR" property="ajmlph" />
    <result column="AJMLXZ" jdbcType="VARCHAR" property="ajmlxz" />
    <result column="AJMPHZ" jdbcType="CHAR" property="ajmphz" />
    <result column="AJQTSHRS" jdbcType="DECIMAL" property="ajqtshrs" />
    <result column="AJRYSSS" jdbcType="DECIMAL" property="ajrysss" />
    <result column="AJRYSWS" jdbcType="DECIMAL" property="ajrysws" />
    <result column="AJSSXQ" jdbcType="CHAR" property="ajssxq" />
    <result column="AJSSZRQ" jdbcType="VARCHAR" property="ajsszrq" />
    <result column="AJSSZRQMC" jdbcType="VARCHAR" property="ajsszrqmc" />
    <result column="AJSX" jdbcType="VARCHAR" property="ajsx" />
    <result column="AJXZ" jdbcType="CHAR" property="ajxz" />
    <result column="AJZT" jdbcType="CHAR" property="ajzt" />
    <result column="AJZTC" jdbcType="VARCHAR" property="ajztc" />
    <result column="AQZS" jdbcType="VARCHAR" property="aqzs" />
    <result column="BADWDZ" jdbcType="VARCHAR" property="badwdz" />
    <result column="BADWLXFS" jdbcType="VARCHAR" property="badwlxfs" />
    <result column="BADWLXR" jdbcType="VARCHAR" property="badwlxr" />
    <result column="BADWMC" jdbcType="VARCHAR" property="badwmc" />
    <result column="BARBMJB" jdbcType="CHAR" property="barbmjb" />
    <result column="BARCSRQ" jdbcType="TIMESTAMP" property="barcsrq" />
    <result column="BARDW" jdbcType="VARCHAR" property="bardw" />
    <result column="BARLXFS" jdbcType="VARCHAR" property="barlxfs" />
    <result column="BARXB" jdbcType="VARCHAR" property="barxb" />
    <result column="BARXM" jdbcType="VARCHAR" property="barxm" />
    <result column="BARZJHM" jdbcType="VARCHAR" property="barzjhm" />
    <result column="BARZJZL" jdbcType="CHAR" property="barzjzl" />
    <result column="BARZZ" jdbcType="VARCHAR" property="barzz" />
    <result column="BASJ" jdbcType="TIMESTAMP" property="basj" />
    <result column="DJSJ" jdbcType="VARCHAR" property="djsj" />
    <result column="DYABS" jdbcType="CHAR" property="dyabs" />
    <result column="FABW" jdbcType="CHAR" property="fabw" />
    <result column="FACS" jdbcType="CHAR" property="facs" />
    <result column="FADY" jdbcType="CHAR" property="fady" />
    <result column="FASJD" jdbcType="CHAR" property="fasjd" />
    <result column="FASJSX" jdbcType="TIMESTAMP" property="fasjsx" />
    <result column="FASJXX" jdbcType="TIMESTAMP" property="fasjxx" />
    <result column="FJCABH" jdbcType="VARCHAR" property="fjcabh" />
    <result column="FLAJBH" jdbcType="VARCHAR" property="flajbh" />
    <result column="GXRXM" jdbcType="VARCHAR" property="gxrxm" />
    <result column="GXSJ" jdbcType="TIMESTAMP" property="gxsj" />
    <result column="HBPAAJBH" jdbcType="VARCHAR" property="hbpaajbh" />
    <result column="JARQ" jdbcType="TIMESTAMP" property="jarq" />
    <result column="JJSS" jdbcType="DECIMAL" property="jjss" />
    <result column="JLBH" jdbcType="VARCHAR" property="jlbh" />
    <result column="JSCABH" jdbcType="VARCHAR" property="jscabh" />
    <result column="JSDW" jdbcType="CHAR" property="jsdw" />
    <result column="JSDWMC" jdbcType="VARCHAR" property="jsdwmc" />
    <result column="JSR" jdbcType="CHAR" property="jsr" />
    <result column="NWGJ" jdbcType="VARCHAR" property="nwgj" />
    <result column="NWGJDX" jdbcType="VARCHAR" property="nwgjdx" />
    <result column="PADW" jdbcType="VARCHAR" property="padw" />
    <result column="PADWMC" jdbcType="VARCHAR" property="padwmc" />
    <result column="PAFS" jdbcType="CHAR" property="pafs" />
    <result column="PAJK" jdbcType="VARCHAR" property="pajk" />
    <result column="PALX" jdbcType="CHAR" property="palx" />
    <result column="PAPZDW" jdbcType="VARCHAR" property="papzdw" />
    <result column="PAPZR" jdbcType="VARCHAR" property="papzr" />
    <result column="PAPZSJ" jdbcType="TIMESTAMP" property="papzsj" />
    <result column="SJGJDQ" jdbcType="CHAR" property="sjgjdq" />
    <result column="SLDW" jdbcType="VARCHAR" property="sldw" />
    <result column="SLDWDH" jdbcType="VARCHAR" property="sldwdh" />
    <result column="SLDWMC" jdbcType="VARCHAR" property="sldwmc" />
    <result column="SLFS" jdbcType="CHAR" property="slfs" />
    <result column="SLR" jdbcType="VARCHAR" property="slr" />
    <result column="SLRXM" jdbcType="VARCHAR" property="slrxm" />
    <result column="SLSJ" jdbcType="TIMESTAMP" property="slsj" />
    <result column="STCABH" jdbcType="VARCHAR" property="stcabh" />
    <result column="WBJSDWMC" jdbcType="VARCHAR" property="wbjsdwmc" />
    <result column="ZBRDH" jdbcType="VARCHAR" property="zbrdh" />
    <result column="ZBRXM" jdbcType="VARCHAR" property="zbrxm" />
    <result column="ZSAJ" jdbcType="CHAR" property="zsaj" />
    <result column="ZSBADW" jdbcType="VARCHAR" property="zsbadw" />
    <result column="ZSBADWMC" jdbcType="VARCHAR" property="zsbadwmc" />
    <result column="BZDWMC" jdbcType="VARCHAR" property="bzdwmc" />
    <result column="BZR" jdbcType="VARCHAR" property="bzr" />
    <result column="BZRXM" jdbcType="VARCHAR" property="bzrxm" />
    <result column="BZSJ" jdbcType="TIMESTAMP" property="bzsj" />
    <result column="CITGC_SOURCE" jdbcType="VARCHAR" property="citgcSource" />
    <result column="CITGC_TIME" jdbcType="TIMESTAMP" property="citgcTime" />
    <result column="CXDW" jdbcType="VARCHAR" property="cxdw" />
    <result column="CXDWMC" jdbcType="VARCHAR" property="cxdwmc" />
    <result column="CXPZR" jdbcType="VARCHAR" property="cxpzr" />
    <result column="CXPZRXM" jdbcType="VARCHAR" property="cxpzrxm" />
    <result column="CXRQ" jdbcType="TIMESTAMP" property="cxrq" />
    <result column="CXYY" jdbcType="CHAR" property="cxyy" />
    <result column="BLYY" jdbcType="CHAR" property="blyy" />
    <result column="BZDW" jdbcType="VARCHAR" property="bzdw" />
    <result column="DBBH" jdbcType="VARCHAR" property="dbbh" />
    <result column="DBJB" jdbcType="CHAR" property="dbjb" />
    <result column="DJDW" jdbcType="VARCHAR" property="djdw" />
    <result column="DJDWMC" jdbcType="VARCHAR" property="djdwmc" />
    <result column="DJR" jdbcType="VARCHAR" property="djr" />
    <result column="DJRXM" jdbcType="VARCHAR" property="djrxm" />
    <result column="FXCABH" jdbcType="VARCHAR" property="fxcabh" />
    <result column="FXSJ" jdbcType="TIMESTAMP" property="fxsj" />
    <result column="FZZTLX" jdbcType="CHAR" property="fzztlx" />
    <result column="GDSJ" jdbcType="TIMESTAMP" property="gdsj" />
    <result column="GDZT" jdbcType="CHAR" property="gdzt" />
    <result column="GLBH" jdbcType="CHAR" property="glbh" />
    <result column="GXDW" jdbcType="VARCHAR" property="gxdw" />
    <result column="GXDWMC" jdbcType="VARCHAR" property="gxdwmc" />
    <result column="GXFG" jdbcType="CHAR" property="gxfg" />
    <result column="GXR" jdbcType="VARCHAR" property="gxr" />
    <result column="JSRXM" jdbcType="VARCHAR" property="jsrxm" />
    <result column="JSSJ" jdbcType="TIMESTAMP" property="jssj" />
    <result column="JYAQ" jdbcType="VARCHAR" property="jyaq" />
    <result column="JZAJSX" jdbcType="VARCHAR" property="jzajsx" />
    <result column="KFXAJLB" jdbcType="CHAR" property="kfxajlb" />
    <result column="LADW" jdbcType="VARCHAR" property="ladw" />
    <result column="LADWMC" jdbcType="VARCHAR" property="ladwmc" />
    <result column="LAPZR" jdbcType="VARCHAR" property="lapzr" />
    <result column="LAPZRXM" jdbcType="VARCHAR" property="lapzrxm" />
    <result column="LASJ" jdbcType="TIMESTAMP" property="lasj" />
    <result column="PARQ" jdbcType="TIMESTAMP" property="parq" />
    <result column="PASJD" jdbcType="CHAR" property="pasjd" />
    <result column="PAZJZ" jdbcType="DECIMAL" property="pazjz" />
    <result column="QFLB" jdbcType="CHAR" property="qflb" />
    <result column="SAZJZ" jdbcType="DECIMAL" property="sazjz" />
    <result column="SCDQSJ" jdbcType="TIMESTAMP" property="scdqsj" />
    <result column="SCSJ" jdbcType="TIMESTAMP" property="scsj" />
    <result column="SFKCXC" jdbcType="CHAR" property="sfkcxc" />
    <result column="SFYXC" jdbcType="CHAR" property="sfyxc" />
    <result column="SJCABH" jdbcType="VARCHAR" property="sjcabh" />
    <result column="WBJSRXM" jdbcType="VARCHAR" property="wbjsrxm" />
    <result column="WHCD" jdbcType="CHAR" property="whcd" />
    <result column="WHZJZ" jdbcType="DECIMAL" property="whzjz" />
    <result column="XBDW" jdbcType="VARCHAR" property="xbdw" />
    <result column="XBR" jdbcType="VARCHAR" property="xbr" />
    <result column="XBRXM" jdbcType="VARCHAR" property="xbrxm" />
    <result column="XGAJLB" jdbcType="VARCHAR" property="xgajlb" />
    <result column="XGDW" jdbcType="VARCHAR" property="xgdw" />
    <result column="XGDWMC" jdbcType="VARCHAR" property="xgdwmc" />
    <result column="XGR" jdbcType="VARCHAR" property="xgr" />
    <result column="XGRXM" jdbcType="VARCHAR" property="xgrxm" />
    <result column="XGSJ" jdbcType="TIMESTAMP" property="xgsj" />
    <result column="XPDW" jdbcType="VARCHAR" property="xpdw" />
    <result column="XSBH" jdbcType="VARCHAR" property="xsbh" />
    <result column="YSDW" jdbcType="CHAR" property="ysdw" />
    <result column="YSDWLXDH" jdbcType="VARCHAR" property="ysdwlxdh" />
    <result column="YSDWMC" jdbcType="VARCHAR" property="ysdwmc" />
    <result column="YSJSDWLXDH" jdbcType="CHAR" property="ysjsdwlxdh" />
    <result column="YSR" jdbcType="VARCHAR" property="ysr" />
    <result column="YSRXM" jdbcType="VARCHAR" property="ysrxm" />
    <result column="YSSJ" jdbcType="VARCHAR" property="yssj" />
    <result column="YSYY" jdbcType="VARCHAR" property="ysyy" />
    <result column="ZABJ" jdbcType="CHAR" property="zabj" />
    <result column="ZAJBH" jdbcType="VARCHAR" property="zajbh" />
    <result column="ZARS" jdbcType="DECIMAL" property="zars" />
    <result column="ZBDW" jdbcType="VARCHAR" property="zbdw" />
    <result column="ZBDWMC" jdbcType="VARCHAR" property="zbdwmc" />
    <result column="ZBR" jdbcType="VARCHAR" property="zbr" />
    <result column="XZB" jdbcType="LONGVARBINARY" property="xzb" />
    <result column="YZB" jdbcType="LONGVARBINARY" property="yzb" />
  </resultMap>
</mapper>