<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.micro.record.commons.mapper.baseMapper.TCaseGroupMapper">
  <resultMap id="BaseResultMap" type="com.ht.micro.record.commons.domain.TCaseGroup">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="case_id" jdbcType="INTEGER" property="caseId" />
    <result column="read_user_group" jdbcType="INTEGER" property="readUserGroup" />
    <result column="choose_pic_id" jdbcType="INTEGER" property="choosePicId" />
  </resultMap>
</mapper>