<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.micro.record.commons.mapper.baseMapper.TCrimeSceneMapper">
  <resultMap id="BaseResultMap" type="com.ht.micro.record.commons.domain.TCrimeScene">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="case_info_id" jdbcType="INTEGER" property="caseInfoId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
  </resultMap>
</mapper>