<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.micro.record.commons.mapper.baseMapper.TLegislationItemMapper">
  <resultMap id="BaseResultMap" type="com.ht.micro.record.commons.domain.TLegislationItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="legislation_id" jdbcType="INTEGER" property="legislationId" />
    <result column="clause_num" jdbcType="INTEGER" property="clauseNum" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
</mapper>