<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.micro.record.commons.mapper.baseMapper.TLogMapper">
  <resultMap id="BaseResultMap" type="com.ht.micro.record.commons.domain.TLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bus_name" jdbcType="VARCHAR" property="busName" />
    <result column="operator_num" jdbcType="VARCHAR" property="operatorNum" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="operate_type" jdbcType="VARCHAR" property="operateType" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="operate_txt" jdbcType="VARCHAR" property="operateTxt" />
    <result column="operate_id" jdbcType="INTEGER" property="operateId" />
    <result column="case_info_id" jdbcType="INTEGER" property="caseInfoId" />
    <result column="terminal_id" jdbcType="VARCHAR" property="terminalId" />
    <result column="operate_result" jdbcType="VARCHAR" property="operateResult" />
    <result column="operate_condition" jdbcType="VARCHAR" property="operateCondition" />
    <result column="query_status" jdbcType="VARCHAR" property="queryStatus" />
  </resultMap>
  <sql id="Base_Column_List">

    id, bus_name, operator_num, operator_name, operate_type, operate_time, operate_txt,
    operate_id, case_info_id, terminal_id, operate_result, operate_condition, query_status
  </sql>
  <select id="searchLogList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM `t_log`
    WHERE 1 = 1
    <if test="startTime != null">
      AND operate_time &gt;= #{startTime,jdbcType=VARCHAR}
    </if>
    <if test="endTime != null">
      AND operate_time &lt;= #{endTime,jdbcType=VARCHAR}
    </if>
    <if test="type != null">
      AND operate_type = #{type,jdbcType=VARCHAR}
    </if>
    <if test="operatorList != null">
      AND operate_id in
      <foreach close=")" collection="operatorList" item="item" open="(" separator=",">
        #{item,jdbcType=INTEGER}
      </foreach>
    </if>
    <if test="keyword != null">
      AND (operator_num like #{keyword,jdbcType=VARCHAR} OR
      operator_name like
      #{keyword,jdbcType=VARCHAR} OR bus_name like
      #{keyword,jdbcType=VARCHAR} OR operate_txt like
      #{keyword,jdbcType=VARCHAR})
    </if>
    ORDER BY operate_time DESC
  </select>
</mapper>