<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.micro.record.commons.mapper.baseMapper.TNeo4jDataRelationMapper">
  <resultMap id="BaseResultMap" type="com.ht.micro.record.commons.domain.TNeo4jDataRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="jjbh" jdbcType="VARCHAR" property="jjbh" />
    <result column="relation" jdbcType="VARCHAR" property="relation" />
    <result column="sim_jjbh" jdbcType="VARCHAR" property="simJjbh" />
  </resultMap>
</mapper>