<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.micro.record.commons.mapper.baseMapper.TSjwpMapper">
  <resultMap id="BaseResultMap" type="com.ht.micro.record.commons.domain.TSjwp">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="AJBH" jdbcType="VARCHAR" property="ajbh" />
    <result column="BDQX" jdbcType="VARCHAR" property="bdqx" />
    <result column="BFHR" jdbcType="VARCHAR" property="bfhr" />
    <result column="BFHRBH" jdbcType="VARCHAR" property="bfhrbh" />
    <result column="BFHRLB" jdbcType="VARCHAR" property="bfhrlb" />
    <result column="BFHRLXFS" jdbcType="VARCHAR" property="bfhrlxfs" />
    <result column="BHE" jdbcType="VARCHAR" property="bhe" />
    <result column="BHHS" jdbcType="VARCHAR" property="bhhs" />
    <result column="BHS" jdbcType="VARCHAR" property="bhs" />
    <result column="BHW" jdbcType="VARCHAR" property="bhw" />
    <result column="BHY" jdbcType="VARCHAR" property="bhy" />
    <result column="BKYR" jdbcType="VARCHAR" property="bkyr" />
    <result column="BXQK" jdbcType="VARCHAR" property="bxqk" />
    <result column="BZJBS" jdbcType="VARCHAR" property="bzjbs" />
    <result column="CCDJSJ" jdbcType="VARCHAR" property="ccdjsj" />
    <result column="CCZL" jdbcType="INTEGER" property="cczl" />
    <result column="CFGLWPBH" jdbcType="VARCHAR" property="cfglwpbh" />
    <result column="CITGC_SOURCE" jdbcType="VARCHAR" property="citgcSource" />
    <result column="CITGC_TIME" jdbcType="TIMESTAMP" property="citgcTime" />
    <result column="CJH" jdbcType="VARCHAR" property="cjh" />
    <result column="CKLX" jdbcType="VARCHAR" property="cklx" />
    <result column="CLDW" jdbcType="CHAR" property="cldw" />
    <result column="CLDWMC" jdbcType="VARCHAR" property="cldwmc" />
    <result column="CLLX" jdbcType="VARCHAR" property="cllx" />
    <result column="CLQK" jdbcType="CHAR" property="clqk" />
    <result column="CLRQ" jdbcType="CHAR" property="clrq" />
    <result column="CQRDW" jdbcType="VARCHAR" property="cqrdw" />
    <result column="CSYS" jdbcType="VARCHAR" property="csys" />
    <result column="CYRBH" jdbcType="VARCHAR" property="cyrbh" />
    <result column="CYRLB" jdbcType="VARCHAR" property="cyrlb" />
    <result column="CYRZJHM" jdbcType="VARCHAR" property="cyrzjhm" />
    <result column="CZDZ" jdbcType="VARCHAR" property="czdz" />
    <result column="CZLXDH" jdbcType="VARCHAR" property="czlxdh" />
    <result column="CZSFZH" jdbcType="VARCHAR" property="czsfzh" />
    <result column="CZXM" jdbcType="VARCHAR" property="czxm" />
    <result column="CZY" jdbcType="VARCHAR" property="czy" />
    <result column="CZYM" jdbcType="VARCHAR" property="czym" />
    <result column="CZZL" jdbcType="INTEGER" property="czzl" />
    <result column="DJDW" jdbcType="VARCHAR" property="djdw" />
    <result column="DJDWMC" jdbcType="VARCHAR" property="djdwmc" />
    <result column="DJH" jdbcType="VARCHAR" property="djh" />
    <result column="DJR" jdbcType="VARCHAR" property="djr" />
    <result column="DJRXM" jdbcType="VARCHAR" property="djrxm" />
    <result column="DJSJ" jdbcType="VARCHAR" property="djsj" />
    <result column="DTBZ" jdbcType="VARCHAR" property="dtbz" />
    <result column="DTDWDM" jdbcType="VARCHAR" property="dtdwdm" />
    <result column="FKKHH" jdbcType="VARCHAR" property="fkkhh" />
    <result column="FKR" jdbcType="VARCHAR" property="fkr" />
    <result column="FKZH" jdbcType="VARCHAR" property="fkzh" />
    <result column="GGDJDW" jdbcType="VARCHAR" property="ggdjdw" />
    <result column="GGDJR" jdbcType="VARCHAR" property="ggdjr" />
    <result column="GGDJSJ" jdbcType="VARCHAR" property="ggdjsj" />
    <result column="GGLX" jdbcType="VARCHAR" property="gglx" />
    <result column="GJJG" jdbcType="INTEGER" property="gjjg" />
    <result column="GJJG1" jdbcType="INTEGER" property="gjjg1" />
    <result column="GLBH" jdbcType="VARCHAR" property="glbh" />
    <result column="GLYWPBH" jdbcType="VARCHAR" property="glywpbh" />
    <result column="GMRQ" jdbcType="VARCHAR" property="gmrq" />
    <result column="GSDMC" jdbcType="VARCHAR" property="gsdmc" />
    <result column="HJJE" jdbcType="INTEGER" property="hjje" />
    <result column="HPZL" jdbcType="VARCHAR" property="hpzl" />
    <result column="JDDPZL" jdbcType="VARCHAR" property="jddpzl" />
    <result column="JE" jdbcType="INTEGER" property="je" />
    <result column="JHZL" jdbcType="INTEGER" property="jhzl" />
    <result column="JKSBH" jdbcType="VARCHAR" property="jksbh" />
    <result column="JLDW" jdbcType="VARCHAR" property="jldw" />
    <result column="JYSM" jdbcType="VARCHAR" property="jysm" />
    <result column="KYCWBGR" jdbcType="VARCHAR" property="kycwbgr" />
    <result column="KYDW" jdbcType="VARCHAR" property="kydw" />
    <result column="KYR" jdbcType="VARCHAR" property="kyr" />
    <result column="KYSJ" jdbcType="VARCHAR" property="kysj" />
    <result column="LYD" jdbcType="VARCHAR" property="lyd" />
    <result column="MCJG" jdbcType="INTEGER" property="mcjg" />
    <result column="MXID" jdbcType="VARCHAR" property="mxid" />
    <result column="PJHM" jdbcType="VARCHAR" property="pjhm" />
    <result column="PJLX" jdbcType="VARCHAR" property="pjlx" />
    <result column="PZFHSJ" jdbcType="VARCHAR" property="pzfhsj" />
    <result column="QX" jdbcType="CHAR" property="qx" />
    <result column="QZFZRQ" jdbcType="CHAR" property="qzfzrq" />
    <result column="QZKJ" jdbcType="INTEGER" property="qzkj" />
    <result column="QZZDSM" jdbcType="INTEGER" property="qzzdsm" />
    <result column="RKLX" jdbcType="VARCHAR" property="rklx" />
    <result column="RKSJ" jdbcType="VARCHAR" property="rksj" />
    <result column="RYBH" jdbcType="VARCHAR" property="rybh" />
    <result column="CKSJ" jdbcType="VARCHAR" property="cksj" />
    <result column="SAWPLY" jdbcType="VARCHAR" property="sawply" />
    <result column="SFBZ" jdbcType="VARCHAR" property="sfbz" />
    <result column="SFGG" jdbcType="VARCHAR" property="sfgg" />
    <result column="SHJG" jdbcType="VARCHAR" property="shjg" />
    <result column="SHR" jdbcType="VARCHAR" property="shr" />
    <result column="SHSJ" jdbcType="VARCHAR" property="shsj" />
    <result column="SHYJ" jdbcType="VARCHAR" property="shyj" />
    <result column="SJBH" jdbcType="VARCHAR" property="sjbh" />
    <result column="SKKHH" jdbcType="VARCHAR" property="skkhh" />
    <result column="SKR" jdbcType="VARCHAR" property="skr" />
    <result column="SKRQ" jdbcType="VARCHAR" property="skrq" />
    <result column="SKZH" jdbcType="VARCHAR" property="skzh" />
    <result column="SLDW" jdbcType="CHAR" property="sldw" />
    <result column="SM" jdbcType="VARCHAR" property="sm" />
    <result column="SPJG" jdbcType="VARCHAR" property="spjg" />
    <result column="SPR" jdbcType="VARCHAR" property="spr" />
    <result column="SPSJ" jdbcType="VARCHAR" property="spsj" />
    <result column="SPYJ" jdbcType="VARCHAR" property="spyj" />
    <result column="SSJZ" jdbcType="INTEGER" property="ssjz" />
    <result column="TXMDY" jdbcType="VARCHAR" property="txmdy" />
    <result column="WDID" jdbcType="VARCHAR" property="wdid" />
    <result column="WHSSJZ" jdbcType="INTEGER" property="whssjz" />
    <result column="WPBH" jdbcType="VARCHAR" property="wpbh" />
    <result column="WPCD" jdbcType="CHAR" property="wpcd" />
    <result column="WPCFBS" jdbcType="VARCHAR" property="wpcfbs" />
    <result column="WPCFD" jdbcType="VARCHAR" property="wpcfd" />
    <result column="WPCLPZBH" jdbcType="VARCHAR" property="wpclpzbh" />
    <result column="WPCP" jdbcType="VARCHAR" property="wpcp" />
    <result column="WPCS" jdbcType="VARCHAR" property="wpcs" />
    <result column="WPGG" jdbcType="VARCHAR" property="wpgg" />
    <result column="WPJZ" jdbcType="INTEGER" property="wpjz" />
    <result column="WPLX" jdbcType="CHAR" property="wplx" />
    <result column="WPLY" jdbcType="VARCHAR" property="wply" />
    <result column="WPLYPDBH" jdbcType="VARCHAR" property="wplypdbh" />
    <result column="WPMC" jdbcType="VARCHAR" property="wpmc" />
    <result column="WPSL" jdbcType="INTEGER" property="wpsl" />
    <result column="WPSX" jdbcType="VARCHAR" property="wpsx" />
    <result column="WPSY" jdbcType="VARCHAR" property="wpsy" />
    <result column="WPSZD" jdbcType="VARCHAR" property="wpszd" />
    <result column="WPXH" jdbcType="VARCHAR" property="wpxh" />
    <result column="WPXZ" jdbcType="CHAR" property="wpxz" />
    <result column="WPYS" jdbcType="CHAR" property="wpys" />
    <result column="WPZD" jdbcType="VARCHAR" property="wpzd" />
    <result column="WPZJLY" jdbcType="VARCHAR" property="wpzjly" />
    <result column="WPZLCD" jdbcType="INTEGER" property="wpzlcd" />
    <result column="WPZT" jdbcType="CHAR" property="wpzt" />
    <result column="WSMC" jdbcType="VARCHAR" property="wsmc" />
    <result column="WZPM" jdbcType="VARCHAR" property="wzpm" />
    <result column="XGDW" jdbcType="VARCHAR" property="xgdw" />
    <result column="XGDWMC" jdbcType="VARCHAR" property="xgdwmc" />
    <result column="XGR" jdbcType="VARCHAR" property="xgr" />
    <result column="XGRXM" jdbcType="VARCHAR" property="xgrxm" />
    <result column="XGSJ" jdbcType="VARCHAR" property="xgsj" />
    <result column="XMDM" jdbcType="VARCHAR" property="xmdm" />
    <result column="XMMC" jdbcType="VARCHAR" property="xmmc" />
    <result column="XSFX" jdbcType="VARCHAR" property="xsfx" />
    <result column="XYM" jdbcType="VARCHAR" property="xym" />
    <result column="YJZQFXDW" jdbcType="VARCHAR" property="yjzqfxdw" />
    <result column="YJZQFXRQ" jdbcType="CHAR" property="yjzqfxrq" />
    <result column="YJZQMZ" jdbcType="INTEGER" property="yjzqmz" />
    <result column="YWPSL" jdbcType="INTEGER" property="ywpsl" />
    <result column="YYR" jdbcType="VARCHAR" property="yyr" />
    <result column="ZDMD" jdbcType="CHAR" property="zdmd" />
    <result column="ZFBZ" jdbcType="VARCHAR" property="zfbz" />
    <result column="ZHDM" jdbcType="VARCHAR" property="zhdm" />
    <result column="ZJDW" jdbcType="CHAR" property="zjdw" />
    <result column="ZJDWMC" jdbcType="VARCHAR" property="zjdwmc" />
    <result column="ZJLB" jdbcType="CHAR" property="zjlb" />
    <result column="ZJPZ" jdbcType="CHAR" property="zjpz" />
    <result column="ZJSJ" jdbcType="VARCHAR" property="zjsj" />
    <result column="ZLCDDW" jdbcType="VARCHAR" property="zlcddw" />
    <result column="ZPH" jdbcType="VARCHAR" property="zph" />
    <result column="ZTBS" jdbcType="VARCHAR" property="ztbs" />
    <result column="CITGC_DEL_FLAG" jdbcType="VARCHAR" property="citgcDelFlag" />
  </resultMap>
</mapper>